In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Datasets/hpi_master.csv')

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop('index_nsa', axis=1)
y = df['index_nsa']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming X_numeric and y are already defined and preprocessed (e.g., missing values handled)

model = LinearRegression()

# Perform cross-validation using cross_val_score
# 'neg_mean_squared_error' is used because cross_val_score maximizes the score,
# so we use the negative of MSE and then take the absolute value or negate it back
mse_scores = -cross_val_score(model, X_numeric, y, cv=5, scoring='neg_mean_squared_error')

print(f"Mean MSE across folds: {np.mean(mse_scores)}")
print(f"MSE scores for each fold: {mse_scores}")

Mean MSE across folds: 4603.544406144521
MSE scores for each fold: [2453.67891026 2682.06047767 7939.82419312 8424.59400374 1517.56444595]

In [ ]:
display(df.columns)

Index(['hpi_type', 'hpi_flavor', 'frequency', 'level', 'place_name',
       'place_id', 'yr', 'period', 'index_nsa', 'index_sa'],
      dtype='object')

In [ ]:
display(X_numeric.isnull().sum())

yr              0
period          0
index_sa    87268
dtype: int64